<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>let's use email ejs</title>
</head>
<body>
    <h1>welcome !! <%= email %></h1>

    <p>아 집가고 싶네 ㅅㅂ것...</p>
    
</body>
</html>